---
layout : default
---
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section id="banner" class="style2">
	<div class="inner">
		<span class="image">
			<img src="images/pic07.jpg" alt="" />
		</span>
		<header class="major">
			<h1>读书笔记</h1>
		</header>
		<div class="content">
			<p>Lorem ipsum dolor sit amet nullam consequat<br />
				sed veroeros. tempus adipiscing nulla.</p>
		</div>
	</div>
</section>

<!-- Main -->
<div id="main">
	{% for post in site.posts %}
	{% if post.type == 2 %}
	<section id="two">
		
			<a href="generic.html" class="image">
				<img src="images/pic08.jpg" alt="" data-position="top center" />
			</a>
			<div class="inner">
				<header class="major">
					<h3>{{post.title}}</h3>
				</header>
				<h4>{{post.description}}</h4>
				<ul class="actions">
					<li><a href="{{site.url}}{{post.url}}" class="button">read</a></li>
				</ul>
			</div>
	
	</section>
	{% endif %}
	{% endfor %}

</div>